.closed
{   background-color: red;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.opened
{   background-color: white;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.selected
{   background-color: blue;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.hidden {
    visibility: hidden;
}
