
.image-container {
    display: flex;
    padding: 10px;
    background: aliceblue;
    margin: 10px;
  }
  
  .image-container img {
    flex: 0 0 30%;
    max-width: 30%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .image-container {
        display: flex;
        padding: 10px;
        background: aliceblue;
        margin: 10px;
    }
  
    .image-container img {
      flex: 0 0 100%;
      margin-bottom: 10px;
    }
  }




.hidden {
    visibility: hidden;
}