<app-header></app-header>
<app-introduction></app-introduction>

SPOILER ::: The prize is behind gate: <span *ngIf="showPrizeDoor">{{prizedDoor}}</span><button (click)="toggleAnswerDisplay()">Click to see/hide prize door</button>

<button (click)="reset()">Reset</button>

<div class="image-container" >
    <app-door 
      [door] = "door" 
      (selectionEvent)="onDoorSelection($event)"
    *ngFor="let door of doors"></app-door>
</div>

  <button  (click)="openInvalidDoor()">Open an invalid door</button>
  <button  (click)="switchSelectedDoor()">Switch Selected Door</button>
  <button (click)="seeResults()">See Results</button>

  <p>{{result}}</p>
<!-- <router-outlet></router-outlet> -->

<button (click)="automate()">Automate and show results</button>
