<div class="wiki-paragraph">
    <p >
        The <a target="_blank" href="https://en.wikipedia.org/wiki/Monty_Hall_problem" >Monty Hall problem</a> is a brain teaser, in the form of a probability puzzle, loosely based on the American television game show <a target="_blank" href="https://www.youtube.com/watch?v=T5QYTrDReTo" >Let's Make a Deal</a> and named after its original host, <a target="_blank" href="https://en.wikipedia.org/wiki/Monty_Hall">Monty Hall</a>.
    </p>
    <p>
        Let's play a game to understand it.
    </p>
    <p>
        Below is a set of three doors. Behind one of these doors is a prize, the other two doors do not! 
        The prize is randomly set behind these doors, and hence the probability of any door having the prize is 1/3 and not having it is 2/3.
    </p>
    

</div>