<app-header></app-header>
<app-introduction></app-introduction>

<div class="row">
  <div class="column-60">The probability of the prize being selected was determined when it was placed behind the gates. Therefore, it does not change regardless of any actions that take place afterwards. Please click this button to reveal the winning gate.</div>
  <div class="column-40">
    <app-spoiler [prizedDoor]="prizedGate + 1"></app-spoiler>
  </div>
</div>
<hr>
<div class="row" [@messageAnimation]="state">
  <div class="column-60" [innerHTML]="stateMessageMapping[state].message"></div>
  <div class="column-40"><button *ngIf="stateMessageMapping[state].actionName" (click)="stateMessageMapping[state].action()" class="button">{{stateMessageMapping[state].actionName}}</button>
    <button *ngIf="stateMessageMapping[state].action2Name" (click)="stateMessageMapping[state].action2()" class="button">{{stateMessageMapping[state].action2Name}}</button></div>
  
</div>
<div class="image-container" #messageContainer>
    <app-door 
      [door] = "gate" 
      (selectionEvent)="onGateSelection($event)"
    *ngFor="let gate of gates"></app-door>
</div>
  <p>{{result}}</p>
<!-- <router-outlet></router-outlet> -->
<hr>
<p>The concept of probability becomes evident when we repeatedly perform a task. Let's automate the aforementioned scenario and simulate it 10,000 times without switching gates to observe the results.</p>
<div class="loader" *ngIf="isLoading"></div><button (click)="automate()" class="button" *ngIf="!isLoading">Automate and show results</button>
<div >
<div *ngIf="summary" ><strong>{{summary}}</strong></div>

<table *ngIf = "rowData.length > 0 && !isLoading" class="beautiful-table" #summary>
  <thead>
    <tr>
      <th>#</th>
      <th>Initially selected Gate</th>
      <th>Winning Gate</th>
      <th>Switched?</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rowData; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ row.initiallySelectedGate }}</td>
      <td>{{ row.winningGate }}</td>
      <td>{{ row.switched }}</td>
      <td>{{ row.result }}</td>
    </tr>
  </tbody>
</table>
</div>